:root {
    --primary-color: #e1f2fe; 
    --secondary-color: #98d2eb; 
    --background-color: #ecf0f1; 
    --header-color: #2c3e50; 
    --text-color: #2c3e50; 
    --accent-color: black; 
    --white: #ffffff;

}

body {
    font-family: "Playwrite AU NSW", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-color);
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    overflow: hidden;
    max-width: 100%;
}

.logo img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.logo h1 {
    font-size: 2rem;
    margin: 0;
}

.logo p {
    font-size: 1rem;
    margin: 0;
    margin-top: 5px;
}

.menu-toggle {
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

nav {
    width: 100%;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.nav-links.open {
    display: flex;
    padding: 5px;
    gap: 5px;
}

.nav-links li {
    padding: 10px;
    border: 1px solid white;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.nav-links .active {
    color: var(--secondary-color);
}

main {
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: white;
    border: 1px black solid;
}

#directory-selector button.active{
    background-color: var(--white);
    color: black;
}


section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}



.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section  {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.3rem;
}

section p {
	font-weight: 400;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.45rem;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%;
}

footer {
    display: flex;
    background-color: var(--header-color);
    color: white;
    padding: 20px;
    flex-direction: column;
    gap: 25px;
}

footer i {
    color: white;
}

footer p {
    margin: 0;
    margin-bottom: 5px;
}