@media (min-width: 768px) {

  #menuButton {
    display: none;
    color: white;
  }

  header {
    display: block;
  }

  nav {
    background-color: #13293D;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  nav a {
    padding: 0.75rem 1.25rem;
    color: white;
  }

  nav a:hover,
  nav a.active {
    background-color: lightslategrey;
  }
}

  /* EXPAND GRID ON LARGE SCREENS */
  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

 #members.list .card {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 2fr;
    align-items: center;
    gap: 1rem;
  }

  #members.list .card h3 {
    margin: 0;
  }

.info-grid {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .spotlights {
    grid-template-columns: repeat(3, 1fr);
  }
