@media (min-width: 768px) {

  #menuButton {
    display: none;
    color: white;
  }

  header {
    display: block;
  }

  nav {
    background-color: #D2D0BA;
  }

  nav ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  }

  nav a {
    padding: 0.75rem 1.25rem;
    color: black;
  }

  nav a:hover,
  nav a.active {
    background-color: lightslategrey;
  }


    .contact-grid {
        grid-template-columns: 1fr;
    }

  }