body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2A628F;
  padding: 0.5rem 1rem;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: white;
  font-size: 30px;
}

.site-name {
  font-weight: bold;
}

#menuButton {
  margin-left: auto;
  font-size: 1.4rem;
  background: none;
  border: 1px solid #999;
  padding: 0.3rem 0.6rem;
  color: white;
}

/* NAV MOBILE */
nav ul {
  display: none;
  background-color: #13293d;
}

nav ul.show {
  display: block;
}

nav li {
  border-top: 1px solid #444;
}

nav a {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  background-color: #555;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0px 20px;
}

h2 { margin-bottom: 25px; }

.top-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

section h3 {
    background: #222;
    color: white;
    text-align: center;
    padding: 5px;
}

.about-me, .student-photo {
    background: #ddd;
    border: 1px solid #999;
}

.about-me p { padding: 20px; }

.student-photo {
    flex: 1; /* Takes up less space */
    text-align: center;
}

.photo-box {
    width: 150px;
    height: 150px;
    background: #bbb;
    margin: 20px auto;
    border-radius: 5px;
}

/* FILTER BUTTONS */
.course-filters {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin: 0.75rem 0;
}

.course-filters button {
  padding: 0.4rem 1.25rem;
  border: 1px solid #999;
  background-color: #ccc;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.course-filters button:hover {
  background-color: #bbb;
}

/* COURSE BUTTON GRID */
.course-grid {
  display: grid;
  gap: 0.5rem;
}

.course {
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #ccc;
  font-weight: 600;
}

/* COMPLETED VS NOT */
.course.completed {
  background-color: #b7e4c7;
}

.course.not-completed {
  background-color: #e9c4c4;
}

footer {
  background-color: #2A628F;
  color: white;
  text-align: center;
  padding: 1rem;
}