@media (min-width: 768px) {

  #menuButton {
    display: none;
    color: white;
  }

  header {
    display: block;
  }

  nav {
    background-color: #13293D;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
  }

  nav a {
    padding: 0.75rem 1.25rem;
    color: white;
  }

  nav a:hover,
  nav a.active {
    background-color: lightslategrey;
  }
}

.course-grid {
    grid-template-columns: repeat(3, 1fr);
  }