* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
    line-height: 1.6;
}

/* Header & Nav */
header {
    background: #2A628F;
    padding: 10px 5%;
    color: white;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-placeholder {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background: #13293D;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 5%;
}

nav li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.active {
    background: #A9B4C2;
}

/* Main Content */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 50px 20px;
}

h2 { margin-bottom: 50px; }

.top-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

section h3 {
    background: #222;
    color: white;
    text-align: center;
    padding: 5px;
}

.about-me, .student-photo {
    background: #ddd;
    border: 1px solid #999;
}

.about-me p { padding: 20px; }

.student-photo {
    flex: 1; /* Takes up less space */
    text-align: center;
}

.photo-box {
    width: 150px;
    height: 150px;
    background: #bbb;
    margin: 20px auto;
    border-radius: 5px;
}

/* Course Section */
.course-work {
    background: #ddd;
    border: 1px solid #999;
    text-align: center;
}

.filter-buttons {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background: #bbb;
    border: 1px solid #777;
    cursor: pointer;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0 15px;
}

.course-card {
    background: #bbb;
    padding: 10px;
    border: 1px solid #777;
}

.credits {
    padding: 15px;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #2A628F;
    border-top: 1px solid #ccc;
    color: white;
}

.social-icons {
    font-size: 24px;
    margin-bottom: 10px;
    word-spacing: 20px;
}

@media (min-width: 768px) {
  /* Hide hamburger */
  #menu {
    display: none;
  }
 
  /* Show navigation always */
  .navigation {
    display: flex;
  }
}